body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #F0F8FF;
}

h1, h2, h3 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #1E90FF;
}

button {
    background-color: #32CD32;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1ef4ff;
}

nav {
    background-color: #FFD700;
    padding: 15px;
}

nav a {
    color: #333333;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: #FF6347;
}
